<div class="view-outer">


<div class="layout-controllers">
    <span>Size</span>
    {{input value=current.size}}
     <span>Modul Adı</span>
    {{input value=current.name}}
    <button {{action 'addToView'}} >Seçili Alana Ekle</button>
</div>

<div class="panel panel-default view-inner">
    <div class="panel-body">
     
        <div class="main-view row">

        </div>
        
    </div>
</div>
</div>