
.view-outer{
    margin: 20px;
}

.view-inner{
    margin-top:20px;
}





.added-component{
    
     padding: 20px;
     min-height: 50px;
     position: relative;
     
}
.main-view{
    min-height: 50px;
    border: solid 2px grey;
    border-radius:5px; ;
    padding: 30px;
    margin: 10px;
}
.added-module{
   text-align: center;
    font-weight: bolder;    
}

.close-component{
    position: absolute;
    margin: -18px;
}
.asrow{
    border: solid 2px lightgray;
}
.selectedUi{
    border: solid 2px #1ea7e2;
}

.component-hover{  
    box-shadow: 5px 5px 10px grey;
    transform: scale(1.010,1.010);
}



