
.view-outer{
    margin: 20px;
}

.view-inner{
    margin-top:20px;
}

.main-view{
    min-height: 50px;
    border: solid 2px black;
}



.added-component{
     border: solid 2px grey;
     padding: 20px;
     min-height: 50px;
}
.selectedUi{
    border: solid 2px red;
}